<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="shopping-list">
      <!--
      O vue permite que tanto dados como expressões sejam vinculadas à
      um elemento html, as expressões no entanto,
      limitam-se à apenas uma, logo:
      <h1>{{ header.toLocaleUpperCase() }}</h1> É permitido
      <h1>{{ header ? header : 'Vazio' }}</h1> É permitido
      <h1>{{ if(header) {return header} }}</h1> Não é permitido
      -->
      <div class="header">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <button type="button" class="btn btn-primary" v-if="state === 'default'" @click="changeState('edit')">Edit</button>
        <button type="button" class="btn btn-cancel" v-else @click="changeState('default')">Cancel</button>
      </div>
      <div v-if="state === 'edit'" class="add-item-form">
        <!--'v-on' pode ser substituido por '@' -->
        <input type="text" v-model="newItem" placeholder="Add an item" @keyup.enter="saveItem()">
        <button type="button" class="btn btn-primary" v-bind:disabled="newItem.length === 0" v-on:click="saveItem()">Save Item</button>
      </div>
      <ul>
        <li v-for="item in items">{{ item }}</li>
      </ul>
      <p v-if="items.length === 0">Nice Job, you've bought all your items</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
    /*
    * Atribuir uma variável ao Objeto Vue Criado,
    * facilita o debugging pelo console ou vuedevtools, por exemplo:
    * > shoppingList.$data.header = "Hi, from Console";
    * <- "Hi, from Console"
    * e altera tanto o título <h1> quanto o value de <input/>
    *
    * > shoppingList.$data.items.push('1 Awesome Vue Course')
    * <- 4
    * > shoppingList.$data.items.pop()
    * <- "1 Awesome Vue Course"
    * são capaz de adiconar e remover uma string no fim da lista items
    */
      var shoppingList = new Vue({
        el: '#shopping-list',
        data: {
          state: 'default',
          header: 'Vue is ready to party!',
          newItem: '',
          items: [
            // '10 party hats',
            // '2 board games',
            // '20 cups'
          ]
        },
        methods: {
          saveItem: function (){
            this.items.push(this.newItem);
            this.newItem = '';
          },
          changeState: function(newState){
            this.state = newState;
            this.newItem = '';
          }
        }
      });
    </script>
  </body>
</html>
